<div class="row mt-2">

  <div class="col-xl-12 col-lg-12 col-md-12 mt-3 mb-3">
    <div class="d-flex flex-row justify-content-start">
      @if (cryptoData$ | async; as cryptos_data) {
      @for (crypto of cryptos_data; track crypto.value) {
      <div class="crypto-ticker">
        <div class="icon" [style.background]="crypto.backgroundColor"></div>
        <span>{{ crypto.coin }}</span>
        <span class="positive">{{ crypto.percetage}}</span>
      </div>
      }
      }
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 mt-3 mb-3">
    <div class="row">
      @if (investmentData$ | async; as investment_data) {
      @for (investment of investment_data; track investment.value) {
      <div class="col-xl-3">
        <app-investment-card [investment]="investment"></app-investment-card>
      </div>
      }
      }
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
    <div class="row">
      @if (portfolioValue$ | async; as portfolioValue) {
      <app-portfolio-value-card [portfolioValues]="portfolioValue"></app-portfolio-value-card>
      }
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
    <div class="row">
      @if (investmentTableData$ | async; as investmentTableData) {    
      <!-- <app-investment-table [investmentData]="investmentTableData"></app-investment-table> -->
        <app-investment-table [investments]="investmentTableData" ></app-investment-table>
      }
    </div>
  </div>


</div>