@if (shouldRun) {

<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <div class="company-title">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <h1>TradeCraft</h1>
    </div>

    <mat-nav-list>
      <div  mat-subheader>Navigation</div>

      <mat-divider></mat-divider>

      @for (link of pageLinks; track link.pageName) {
          <mat-list-item [routerLink]="link.link">
           <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
           <div class="" matListItemTitle>{{ link.pageName}}</div>
           <div class="" matListItemLine>Testing to see what this is</div>
          </mat-list-item>
      }
    
    </mat-nav-list>

  </mat-sidenav>
  <article>
    <router-outlet></router-outlet>
  </article>
</mat-sidenav-container>

} @else {
<p>
  Testing out the new syntax
</p>
}

