mat-sidenav-container {
    background: #f8f9f7;
    height: 100%;


    mat-sidenav {
        background: #f8f9f7;
        padding: 1em;
        

        ::ng-deep .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
        }


        .company-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em;

            h1 {
                margin: 0;
            }
        }

        mat-card:nth-child(3) {
            margin-top: auto;
        }
        


    }
}