@if (shouldRun) {

<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <div class="company-title">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <h1>TradeCraft</h1>
    </div>

    
      <mat-card>
        <mat-card-content>
          <mat-nav-list>
            <div mat-subheader>Navigation</div>

            <mat-divider></mat-divider>

            @for (link of pageLinks; track link.pageName) {
            <mat-list-item [routerLink]="link.link">
              <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
              <div class="" matListItemTitle>{{ link.pageName}}</div>
              <div class="" matListItemLine>See all cryto in one place</div>
            </mat-list-item>
            }

          </mat-nav-list>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="company-title">
            <mat-icon class="profile-icon">account_circle</mat-icon>
            <h1>TradeCraft</h1>
          </div>
        </mat-card-content>
      </mat-card>
    



  </mat-sidenav>
  <article>
    <router-outlet></router-outlet>
  </article>
</mat-sidenav-container>

} @else {
<p>
  Testing out the new syntax
</p>
}