<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
            <mat-chip-listbox class="custom-chip-list mt-3 mb-3">

                @for (option of options; track option.link) {
                <mat-chip-option (click)="toPage(option.link)"
                [selectable]="true" [selected]="option.selected"
                >{{ option.name }}</mat-chip-option>
                }

            </mat-chip-listbox>
        </div>
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

