.dashboard-card {
  /* ... other styles ... */
  display: flex;
  flex-direction: column; /* Organize the content in a column */
  overflow: hidden; /* Prevents content from going outside the card */
}

mat-card-content {
  /* ... other styles ... */
  padding: 16px; /* Adds padding around the content */
  flex-grow: 1; /* Allows the content to expand to fill available space */
  display: flex;
  flex-direction: column; /* Stack the chart and value on top of each other */
  justify-content: space-between; /* Distribute space between and around content items */
}

.highcharts-container {
  width: 100%; /* Full width of the parent */
  height: auto; /* Adjust height automatically */
}

.highcharts-root {
  width: 100%; /* Full width of the parent */
  height: auto; /* Adjust height automatically */
}
