<div class="card-container">
    @if (investment) {
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                {{ investment.name }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <highcharts-chart [Highcharts]="Highcharts" [options]="investment.chartOptions"></highcharts-chart>
            <div class="card-value">
                {{ investment.value | currency: 'USD': true }}
            </div>
        </mat-card-content>
    </mat-card>
    }
</div>